* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

.head {
  background-color: #1e152a;
  display: flex;
  font-size: 50px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.container {
  background-color: #4e6766;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-box {
  background-color: #f7dd72;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  border-radius: 6px;
}

.box {
  height: 120px;
  width: 120px;
  color: rgb(240, 14, 131);
  font-size: 80px;
  background-color: #d0d285;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.reset {
  background-color: #363e48;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 35px;
  width: 200px;
  font-size: larger;
  background-color: #11d3e5;
  border-radius: 10px;
}

.show {
  background-color: #4e6766;
  display: flex;
  font-size: 70px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.win {
  background-color: #922233;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  /* display: none; */
}

.para {
  font-size: 70px;
}

.start {
  font-size: 30px;
  border-radius: 5px;
  padding: 7px;
  background-color: #1e863d;
}

.hide {
  display: none;
}
